<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :customer %>
    <%= form.select :customer_id, options_for_select(current_user.customers.all.map{|c| [c, c.id]}),
    id: :activity_customer, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, id: :bill_date, class: "form-control date" %>
  </div>

  <div class="field form-group">
    <%= form.label :payment_method %>
    <%= form.select(:payment_method, [["30"],["60"],["90"]], class: "form-control") %>
  </div>

  <div class="field form-group">
    <%= form.label :vat %>
    <%= form.select :vat, [["10"],["22"]], class: "form-control" %>
  </div>

  <div class="col-auto">
    <%= form.label :discount %>
    <div class="input-group mb-2 mb-sm-0">
      <div class="input-group-addon">%</div>
      <%= form.number_field :discount, id: :bill_discount, class: "form-control" %>
    </div>
  </div>
  <br>

  <div class="col-auto">
    <%= form.label :additional_cost %>
    <div class="input-group mb-2 mb-sm-0">
      <div class="input-group-addon">€</div>
      <%= form.text_field :additional_cost, id: :bill_additional_cost, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
