
<h1>Bills</h1>

<%= form_tag bills_path, :method => 'get' do %>
  <div class="field form-group">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Customer", :name => nil, class: "btn btn-default" %>
  </div>
<% end %>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Date</th>
      <th>Pmt method </th>
      <th>Deadline</th>
      <th>Vat [%]</th>
      <th>Taxable</th>
      <th>Discount [%]</th>
      <th>Total cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.customer %></td>
        <td><%= bill.date %></td>
        <td><%= bill.payment_method %></td>
        <td><%= bill.deadline %></td>
        <td><%= bill.vat %></td>
        <td><%= bill.get_taxable %></td>
        <td><%= bill.discount %></td>
        <td><%= bill.get_total_cost %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'PDF', bill_path(bill, :format => :pdf) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @bills %>

<br>

<%= link_to 'New Bill', new_bill_path %>
