<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control", id: :activity_description %>
  </div>
  
  <div class="field form-group">
    <%= form.label :customer %>
    <%= form.select :customer_id, options_for_select(current_user.customers.all.map{|c| [c, c.id]}),
    id: :activity_customer, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_select :date, :order => [:day, :month, :year], class: "form-control", id: :activity_date %>
  </div>

  <div class="field form-group">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, class: "form-control", id: :activity_start_time %>
  </div>

  <div class="field form-group">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, class: "form-control", id: :activity_end_time %>
  </div>

  <div class="field form-group">
    <%= form.label :note %>
    <%= form.text_field :note, class: "form-control", id: :activity_note %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
