<section>
  <div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "working.jpg", class: "img-responsive" %>
        <div class="carousel-caption carousel-time" style="color: black;">
          <h2>We provide a full set of invoicing and accounting systems for your business</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid text-center">
    <h3>What We Do</h3><br>
    <div class="row">
      <div class="card col-sm-4">
        <%= image_tag "time_track.jpg", class: "card-img-top", alt: "Developers", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Track time</h4>
          <p class="card-text">Our webapp let you track all your activities' time in order to keep all the work you do in the most organized way</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <%= image_tag "customers.jpg", class: "card-img-top", alt: "Track time", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Manage Customers</h4>
          <p class="card-text">Manage all your customers! The relationship with them has never been so easy</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <%= image_tag "invoice_plane.png", class: "card-img-top", alt: "Developers", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Create Beautiful Invoices</h4>
          <p class="card-text">Create your invoices starting from the activies: expand your productivity to the top</p>
          <%= link_to "Our Team", about_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card col-sm-4">
        <%= image_tag "finance.jpg", class: "card-img-top", alt: "Developers", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Your finances in one place</h4>
          <p class="card-text">Do you want to know always where your business stands? This app is what you need!</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <%= image_tag "statistic.jpg", class: "card-img-top", alt: "Track time", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Powerful statisic</h4>
          <p class="card-text">We provide monthly or yearly reports based on all your invoices</p>
          <a href="#" class="btn btn-primary">Learn more</a>
        </div>
      </div>
      <div class="card col-sm-4">
        <%= image_tag "automate.jpg", class: "card-img-top", alt: "Developers", height: "200px" %>
        <div class="card-body">
          <h4 class="card-title">Automate your workflow</h4>
          <p class="card-text">Save time and automate your billing processes: raise to the top with better efficiency </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
