<div class="container">
  <div>
    <h3 style="display: inline;"><strong>Name: </strong></h3>
    <span><h1 style="display: inline;"><%= @customer.business_name %></h1></span>
  </div>

  <div>
    <h3><strong>Address:</strong>
    <%= @customer.address %></h3>
  </div>

  <div>
    <h3><strong>Phone:</strong>
    <%= @customer.phone %></h3>
  </div>

  <div>
    <h3><strong>Email:</strong>
    <%= @customer.email %></h3>
  </div>

  <div>
    <h3><strong>VAT number:</strong>
    <%= @customer.vat_number %></h3>
  </div>

  <hr>
  <%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-primary" %>
  <%= link_to 'Back', customers_path, class: "btn btn-primary" %>

</div>
